/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #bbb;
  max-width: 1150px;
  margin: 0 auto;
}
header {
  background-color: #333;
  height: 6rem;
  padding: 10px;
}
header h1 {
  color: #bbb;
  text-align: center;
  font-size: 2rem;
}
header nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
header nav a {
  color: #bbb;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}
.content {
  margin: 10px;
}
article {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
}
article img {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  margin: 10px;
}
article div {
  border-bottom: 1px dashed #333;
}
article div h2 {
  font-size: 1.5rem;
}
article div h3 {
  font-size: 1.2rem;
  padding-bottom: 10px;
  text-align: center;
}
article p {
  margin: 10px 0;
}
article button {
  width: 400px;
  height: 40px;
  border-radius: 15px;
  background-color: #333;
  color: #bbb;
}
.info-cards {
  border: 1px black;
  border-style: solid none dashed none;
  margin-top: 25px;
}
.info-cards div {
  margin: 10px 0;
}
.info-cards div h3 {
  font-size: 1.2rem;
  margin-bottom: 7px;
}
.info-cards div li {
  margin-left: 20px;
  list-style-type: disc;
}
.work-history {
  margin: 10px 0;
  padding: 10px;
}
.work-history h3 {
  font-size: 1.2rem;
  margin-bottom: 7px;
}
.work-history ul li {
  padding: 2px 0;
}
.work-history ul li:nth-child(odd) {
  background: #888;
}
footer {
  background-color: #333;
  padding: 10px;
  color: #bbb;
}
footer p {
  text-align: center;
  padding: 20px;
}
@media (min-width: 730px) {
  article {
    justify-content: space-evenly;
  }
  article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
  }
  article p {
    border-top: 1px dashed;
    padding-top: 10px;
  }
}
